/* This will be applied to all HTML in the page and not just PrimeFaces components*/
root {
    font-size: 12px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* font-size value can be adjusted to make PrimeFaces components stand out by making them larger or smaller */
.ui-widget {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

html * {
    font-size: 1em !important;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    margin: 0 auto !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-color: #7d9aab;
}

form {
    margin-bottom: 30px !important;
}

table {
    opacity: 0.95;
}

.login-block {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px 5px #195478;
    box-shadow: 0 0 15px 5px #195478;
}

.login-logo {
    border-radius: 10px;
    max-width: 280px;
    background: transparent;
    margin: 10px;
}

.login-box {
    width: 100%;
    margin: 15px 0;
    text-align: center;
    position: relative;
}

.login-input {
    width: 250px;
    height: 21px;
}

.pw-input-box {
    position: absolute;
    top: -20px;
}

.pw-label {
    position: relative;
    top:5px;
}

.pw-input {
    width: 137px !important;
    position: relative;
    left: -10px;
}

.eye-button {
    position: relative;
    float: right;
}

.eye-button-login {
    left: -19px;
    top: -30px;
    height: 29px !important;
}

.eye-button-dialog {
    height: 29px;
    width: 40px;
    top: -37px;
    left: 63px;
}

.buttonfont {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: bold;
}

.error_msg {
    color: #b22222db;
    font-weight: 500;
    font-style: oblique;
}

#header {
    z-index: auto;
}

#footer {
    background-color: #5b7573;
    color: white;
    position: fixed;
    opacity: 0.9;
    bottom: 0;
    width: 99%;
    padding: 10px 50px 10px 0;
    z-index: auto;
}

#content {
    padding: 15px 15px 15px 15px !important;
    z-index: auto;
}

.main-menu .ui-widget-content {
    z-index: auto;
}

.ui-widget-content {
    background: rgba(255, 255, 255, 0.85);
}

.ui-menu-child {
    padding-right: 15px !important;
    background: transparent;
}

.ui-menuitem {
    background-color: #306585;
    margin: 5px !important;
    opacity: 0.9;
    z-index: 100;
}

.ui-datepicker-calendar .ui-state-default {
    color: #195478 !important;
}

.ui-datepicker-calendar td {
    border: 1px solid rgba(91, 125, 122, 0.54) !important;
}

.ui-widget-content a {
    color: rgb(255, 255, 255) !important;
}

.profile-out-panel td:nth-child(1) {
    width: 90px !important;
}

.ui-widget-header {
    background: rgba(91, 125, 122, 0.89) !important;
    border: 1px solid #638498;
    color: white !important;
    text-shadow: 0 1px 0 black !important;
}

.ui-dialog {
    border-radius: 10px !important;
    -webkit-box-shadow: 0 0 15px 5px #195478 !important;
    box-shadow: 0 0 15px 5px #195478 !important;
    max-width: 600px !important;
}

.ui-dialog-titlebar {
    background: rgba(91, 125, 122, 0.6) !important;
}

.ui-panelgrid {
    border-collapse: collapse
}

.ui-panelgrid .ui-panelgrid-header {
    text-align: center;
    padding: 4px 10px
}

.ui-panelgrid .ui-panelgrid-footer {
    text-align: left;
    padding: 2px 5px
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px
}

.ui-panelgrid.ui-noborder .ui-panelgrid-cell {
    border: 0 none
}

.ui-panelgrid.ui-noborder .ui-widget-content, .ui-panelgrid.ui-noborder .ui-widget-header
    {
    border: 0 none
}

.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content,
    .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header,
    .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header,
    .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header>tr.ui-widget-header,
    .ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content,
    .ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content>td.ui-panelgrid-cell,
    .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer>tr.ui-widget-footer
    {
    background: 0;
    border: 0 none
}

.ui-panelgrid .ui-panelgrid-cell.ui-panelgrid-nopad {
    padding: 0
}

.ui-panelgrid .p-grid .ui-panelgrid-cell, .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell
    {
    border: 0 none
}

@media ( max-width :640px) {
    .ui-panelgrid .ui-grid-responsive .ui-grid-row {
        border-top: 1px solid #bcc7cf
    }
    .ui-panelgrid .ui-grid-responsive .ui-grid-row:first-child {
        border-top: 0 none
    }
    .ui-panelgrid.ui-noborder .ui-grid-responsive .ui-grid-row {
        border: 0 none
    }
}

.ui-tabs-panel, .ui-tabs-panels {
    padding: 0.3em !important;
}

.ui-tabs {
    border-radius: 10px !important;
}

.ui-tabs .ui-tabs-nav {
    background-color: transparent !important;
}

.ui-tabs-header {
    background-color: #acacac !important;
}

.ui-datatable-tablewrapper {
    overflow: auto;
    margin: revert;
    border: 1px solid #176D15 !important;
    border-radius: 5px !important;
}

.ui-datatable thead th {
    -webkit-background: rgba(91, 125, 122, 0.89) !important;
    background: rgba(91, 125, 122, 0.89) !important;
    text-shadow: none !important;
    color: white;
}

.fc-button {
    border-radius: 10px !important;
    background-color: #306585 !important;
}

.user-data-block {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
}

.edit-profile-button {
    background: #306585 !important;
    text-shadow: none !important;
    color: white !important;
    border-radius: 5px;
}

.form-group {
    margin-right: -15px;
    margin-left: -15px;
}

#userCreateData .ui-panelgrid-cell.p-col-7, #userData .ui-panelgrid-cell.p-col-7 {
    height: 40px;
}

#hall .ui-panelgrid-cell.p-col-7 {
    height: 100%;
}

/* custom class to postfix too long lines with '...' */
.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rightm10 {
    float: right;
    text-align: right;
    margin-right: 10px;
}

.rightm20 {
    float: right;
    text-align: right;
    margin-right: 20px;
}

.left35 {
    margin-left: 35px;
}
